.recipe-details-page {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff; /* White background */
  border: 2px solid #e0e0e0; /* Light gray border */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  text-align: center; /* Center text for titles */
  
}

.recipe-details-page img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  margin: 0 auto 1.5rem; /* Centered and margin at the bottom */
}

.recipe-details-page h2 {
  font-size: 2rem;
  color: #333;
  margin: 0.5rem 0;
}

.recipe-details-page .section-title {
  font-size: 1.5rem;
  color: #444;
  font-weight: bold;
  margin-top: 1.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.ingredients,
.instructions {
  text-align: left;
  padding: 1rem;
}

.recipe-details-page .ingredients {
  font-size: 1rem;
  color: #555;
  margin-top: 1rem;
}

.recipe-details-page .instructions {
  font-size: 1rem;
  color: #555;
  margin-top: 1rem;
  line-height: 1.6;
}

.recipe-details-page .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.ingredients, .instructions {
  width: 45%; /* Two-column layout */
}

.recipe-details-page ul {
  list-style-type: none;
  padding: 0;
}

.recipe-details-page li {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}
