
.search-results-page {
  padding: 2rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #fefefe;
}


.ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.ingredient-tag {
  background-color: #f28b82;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.875rem;
  font-weight: bold;
}


.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.recipe-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.recipe-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}

.recipe-card h3 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  color: #333;
  font-weight: bold;
}


.search-button {
  padding: 0.5rem 1rem;
  background-color: #ffccd5;
  color: #333;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #ff99a1;
}


.add-favorite-button {
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.875rem;
  background: linear-gradient(135deg, #f8dcdc, #f8a5b6);
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.add-favorite-button:hover {
  background: linear-gradient(135deg, #e57373, #ec407a);
}

.remove-favorite-button {
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: #f5eeed;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.875rem;
  background: linear-gradient(135deg, #ffe1e0, #ffb3b3);
}

.remove-favorite-button:hover {
  background: linear-gradient(135deg, #e57373, #ec407a);
}

@media screen and (max-width: 768px) {
  .recipe-list {
      grid-template-columns: 1fr;
  }

  .recipe-card {
      margin: 0 auto;
      max-width: 300px;
  }
}
